<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a basketball team!</h1>
   <form class="" action="/team" method="post">
     <div>
       <label >Team Name: <input name="name" type="text"></label> </br>
       <label>Coach: <input name="coach" type="text"></label></br>
       <label>Point Guard: <input name="pg" type="text"></label></br>
       <label>Shooting Guard:<input name="sg" type="text"></label></br>
       <label>Power Forward: <input name="pf" type="text"></label></br>
       <label>Small Forward: <input name="sf" type="text"></label></br>
       <label>Center: <input name="c" type="text"></label></br>
       <input id="Submit" type="submit"/>
     </div>
   </form>

 </body>
</html>
